/* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/inika-v21-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/inika-v21-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-700 - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('./fonts/inika-v21-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/inika-v21-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/inter-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('./fonts/inter-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/inter-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1222px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    max-width: 1440px;
    height: 134px;
    background-color: #EDF2EC;
    background-size: 100%;
}

#img_burger {
    /* background-image: url(./img/svg/burger.svg); */
    background: url(./img/svg/burger.svg);
    width: 40px;
    height: 26px;
    display: none;
}

.logo {
    font-family: 'Inika';
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 51px;
}

.header-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.nav {
    font-family: 'Inika';
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #010201;

}

.nav-list {
    margin: 0;
    padding-left: 0;
    max-width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-item {
    padding-right: 45px;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.nav-item:last-child {
    padding-right: 0px;
}

.nav-item:hover {
    color: #E06733;
    font-weight: 700;
}

/* Start Welcome */

#welcome {
    max-width: 1440px;
    height: 532px;
    background-color: #EDF2EC;
    background-size: 100%;
}

.welcome_contaner {
    display: flex;
    justify-content: space-between;
}

.welcome_right {
    max-width: 549px;
    max-height: 340px;
    padding-top: 98px;
}

.img-welcome {
    width: 37%;
    /*width: 448.8px;*/
    /*  max-height: 407.36px; */
    margin-top: 62px;
}

.capText {
    max-width: 549px;
    font-family: 'Inter';
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #717171;
    margin-top: 0px;
    margin-bottom: 42px;
}

.colortext {
    color: #499A18;
}

.paragraf {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;
    margin-bottom: 48px;
}

.welcome-button {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    width: 158px;
    height: 44px;
    border-radius: 10px;
    border: 2px solid #E06733;
}

button:hover {
    color: #FFFFFF;
    background: #E06733;
    border: 2px solid #E06733;
}

/* Start about */
#about {
    height: 666px;
    max-width: 1440px;
    left: 0px;
    top: 666px;
    border-radius: 0px;
    background: #FFFFFF;
    background-size: 100%;
}

.about_container {
    display: flex;
    justify-content: space-between;
}

.about_text_left {
    /*  width: 605px; */
    min-height: 350px;
}

.img_house_plant {
    /* height: 542px;
    width: 464px;*/
    width: 38%;
    margin-top: 61px;
}

.about_title {
    font-family: 'Inika';
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #499A18;
    height: 102px;
    width: 463px;
    padding-top: 161px;
    margin: 0;
}

.colortext_about {
    color: #E06733;
}

.about_text {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;
    margin: 0;
    padding-top: 142px;
    width: 605px;

}

.service_title {
    width: 306px;
    height: 94px;
    color: #499A18;
    font-family: 'Inika';
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 142px;
}

.service_content {
    width: 559px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
}

.service_container {
    display: flex;
    flex-wrap: wrap;
}

.serviceUp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.service_button {
    list-style: none;
    background-color: transparent;
    height: 50px;
    width: 161px;
    left: 955px;
    top: 69px;

    border-radius: 5px;
    border: 1px solid #E06733;

    font-family: 'Inika';
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #E06733;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-left: 0;
    padding-right: 0;
}

/* Start service */

#service {
    max-width: 1440px;
    height: 1300px;
    background-color: #EDF2EC;
    background-size: 100%;
    padding-top: 40px;
}

.serviceUp {
    max-width: 1007px;
    height: 94px;
}

.serviceDown {
    height: 955px;
    margin-top: 74px;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.service_item {
    height: 450px;
    width: 330px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

.img_service {
    height: 350px;
    width: 329px;
    margin-top: 15px;
}

.img_title {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #E06733;
    padding-top: 5px;
}

.img_text {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #717171;
    text-align: center;
    margin-top: 15px;
}

/* Start prices */
#prices {
    max-width: 1440px;
    height: 560px;
    background-color: #FFFFFF;
    background-size: 100%;
    padding-top: 40px;
}

.wrapper_prices {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prices_left {
    height: 391px;
    width: 332px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

}

.prices_title {
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin: 0;
    display: block;
    width: 100%;
}

.prices_right {
    height: 405px;
    width: 452px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}



.img_prices_leafs {
    width: 152px;
    height: 174.99px;
}

.text_prices {
    margin: 0;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: right;
}

.colorTextPrices {
    color: #499A18;
}

.contact_us_button {
    background-color: transparent;
    height: 52px;
    width: 162px;
    border-radius: 5px;
    border: 1px solid #E06733;

    font-family: 'Inika';
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #E06733;
}

.prices_item {
    width: 332px;
    height: 282px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}

.prices_dropdown {
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Inter';
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img_arrow_in_prices {
    background-image: url(./img/svg/accordion_btn.svg);
    width: 16px;
    height: 16px;
    display: block;
}

/* Start contacts */

#contacts {
    max-width: 1440px;
    height: 550px;
    background: #EDF2EC;
    background-size: 100%;
}

.container_contacts {
    display: flex;
    justify-content: space-between;

}

.img_contacts {
    width: 400px;
    height: 578px;
    padding-top: 21px;
    margin-right: 50px;
}

.text_contact {
    width: 195px;
    height: 51px;
    padding-top: 58px;
    margin: 0;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.dropbtn {
    height: 50px;
    width: 450px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    display: block;
    padding-left: 20px;
    padding-top: 5px;

}

.dropdown {
    margin-top: 148px;
    position: relative;
    display: inline-block;

}

.dropdown-content {

    width: 450px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #DCE9D9;

}

.dropdown-content a {
    width: 380px;
    color: #499A18;
    background-color: #DCE9D9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #D9D9D9;
    margin-left: 20px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #717171;
    border-bottom: 1px solid #717171;
}

.dropdown:hover .dropdown-content {
    box-shadow: none;
    display: block;
}

.dropdown:hover .dropbtn {
    background: #C1E698;
    box-shadow: none;

}

.img_arrow_in_city {
    margin-left: 341px;
    background: url(./img/svg/accordion_btn.svg) no-repeat;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.img_arrow_in_city:hover {
    background: url(./img/svg/drop_btn_hover.svg) no-repeat;
}


/* Start footer */
.footer {
    height: 130px;
    max-width: 1440px;
    left: 0px;
    top: 3740px;
    border-radius: 0px;
    background-color: #FFFFFF;
    background-size: 100%;

}

.wrapper_footer {
    padding-left: 0;
    padding-top: 38px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;

}

.footer_data {
    margin: 0;
    height: 50px;
    width: 182px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
    color: #000000;
}

.school {
    height: 50px;
    width: 211px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    margin-left: 7px;
    color: #000000;
}

.footer_data:hover,
.school:hover {
    color: #499A18;
}

.social {
    width: 188px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_social {
    width: 32px;
    height: 32px;
}

.footer_item {
    list-style: none;
}


/*          Tablet 768           */

@media (max-width: 768px) {

    .header {
        max-width: 768px;
        height: 117px;
    }

    .wrapper {
        max-width: 668px;
        margin: 0 auto;
    }

    #welcome {
        max-width: 768px;
        height: 420px;
    }

    .capText {
        margin-top: -50px;
        font-size: 35px;
        margin-bottom: 30px;
        width: 387px;
    }

    .paragraf {
        font-size: 16px;
        line-height: 25px;
        max-width: 350px;
        padding-left: 5px;
        margin-bottom: 37px;
    }

    .img-welcome {
        width: 42%;
        margin-top: 19px;
        order: 1;
    }

    #about {
        max-width: 768px;
        height: 783px;
    }

    .about_title {
        font-size: 35px;
        line-height: 46px;
        text-align: center;
        padding-top: 47px;
        padding-left: 107px;
        width: 545px;
        margin-bottom: -53px;
    }

    .about_text {
        width: 650px;
        margin-left: -7px;
    }

    .about_text_left {
        width: 650px;
    }

    .img_house_plant {
        margin-top: 47px;
    }

    .about_container {
        flex-wrap: wrap;
        justify-content: center;
    }

    #service {
        max-width: 768px;
        height: 1780px;
    }

    .serviceUp {
        max-width: 680px;
        margin-top: 29px;
    }

    .service_content {
        padding-top: 10px;
        max-width: 560px;
        flex-wrap: wrap;
        height: 89px;
        align-content: space-between;
    }

    .service_title {
        font-size: 35px;
        line-height: 46px;
        margin-bottom: 30px;
    }

    .service_item {
        width: 281px;
        height: 450px;

    }

    .img_service {
        width: 280px;
    }

    .serviceDown {
        height: 1426px;
        margin-top: 115px;
    }

    .img_text {
        width: 260px;
        padding-left: 20px;
    }

    .img_title {
        margin-bottom: -5px;
    }

    #prices {
        max-width: 768px;
        height: 585px;
    }

    .text_prices {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: -11px;
    }

    .prices_title {
        font-size: 35px;
        line-height: 42px;
        padding-left: 14px;
        padding-top: 10px;
    }

    .prices_right {
        margin-top: 110px;
        width: 296px;
        height: 358px;
    }

    #contacts {
        max-width: 768px;
        height: 739px;
    }

    .text_contact {
        padding-top: 41px;
    }

    .container_contacts {
        height: 739px;
        flex-direction: column;
        align-items: center;
        margin-top: 9px;
    }

    .img_contacts {
        width: 200px;
        height: 262px;
        order: 1;

        padding-top: 0px;
        margin-right: -24px;
        margin-bottom: -6px;
    }

    .dropdown {
        margin-top: -102px;
    }

    .footer {
        max-width: 768px;
        height: 181px;
    }

    .wrapper_footer {
        width: 210px;
        height: 130px;
        flex-direction: column;
        align-items: center;
        padding-top: 21px;
        justify-content: space-between;
    }

    .footer_item {
        line-height: 24px;
        height: 38px;
    }

    .footer_data {
        width: 170px;
    }

    .social {
        height: 38px;
        margin-top: 22px;
    }
}

/*          Mobile 380           */

@media (max-width: 380px) {
    .header {
        max-width: 380px;
        height: 96px;
    }

    .nav {
        position: fixed;
        top: 0;
        right: 0;
        width: 35vh;
        height: 40vh;
        background: #C1E698;
        transform: translateY(-100%);
        transition: transform 0.5s;
        border: solid;
        border-radius: 30px;
        border-color: #E06733;
    }

    .nav-list {
        flex-direction: column;
        margin: 10%;
    }

    #welcome {
        max-width: 380px;
        height: 300px;
    }

    #about {
        max-width: 380px;
        height: 516px;
    }

    #service {
        max-width: 380px;
        height: 3150px;
        padding-top: 17px;
    }

    #prices {
        max-width: 380px;
        height: 512px;
    }

    #contacts {
        max-width: 380px;
        height: 445px;
        margin-top: 14px;
    }

    .footer {
        max-width: 380px;
        height: 146px;
    }

    .wrapper {
        max-width: 330px;
    }

    .capText {
        font-size: 25px;
        line-height: 35px;
    }

    .paragraf {
        font-size: 16px;
        line-height: 25px;
    }

    .welcome-button {
        font-size: 10px;
        line-height: 20px;
        width: 100px;
        height: 34.14px;
    }

    .about_title {
        font-size: 25px;
        line-height: 33px;
    }

    .about_text {
        font-size: 15px;
        line-height: 25px;
    }

    .img_house_plant {
        width: 150px;
        height: 175px;
        margin-top: -10px;
    }

    .img_arrow_in_city {
        margin-left: 204px
    }

    .service_title {
        font-size: 25px;
        line-height: 33px;
        width: 270px;
        margin-bottom: 0px;
        margin-right: 60px;
    }

    .service_button {
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
        padding-top: 7px;
    }

    .service_item {
        margin-left: 24px;
    }

    .serviceDown {
        height: 2870px;
    }

    .service_content {
        width: 252px;
    }

    .img_service {
        width: 279px;
        height: 350px;
    }

    .img_title {
        font-size: 20px;
        line-height: 20px;
    }

    .img_text {
        font-size: 16px;
        line-height: 20px;
    }

    .prices_title {
        font-size: 25px;
        line-height: 30px;
    }

    .drop_items {
        font-size: 15px;
        line-height: 20px;
        width: 180px;
        height: 49.72px;
        padding-left: 31px;
        margin-bottom: 0px;
    }

    .text_prices {
        font-size: 20px;
        line-height: 35px;
        width: 230px;
        text-align: center;
    }

    .contact_us_button {
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
    }

    .text_contact {
        padding-top: 41px;
        padding-left: 36px;
        font-size: 25px;
        line-height: 33px;
        padding-top: 28px;
    }

    .dropbtn {
        width: 300px;
    }

    .dropdown-content {
        width: 300px;
    }

    .dropdown-content a {
        width: 260px;
    }

    .img_contacts {
        width: 100px;
        height: 124.25px;
        padding-top: 0px;
        margin-right: 4px;
        margin-bottom: 9px;
    }

    .header-wrapper {
        align-items: center;
    }

    #img_burger {
        display: block;
        margin-top: 48px;

        position: relative;
        z-index: 2;
        overflow: hidden;
    }

    .img-welcome {
        display: none;
    }

    .capText {
        width: 340px;
        margin-top: -56px;
        margin-bottom: 20px;
    }

    .paragraf {
        padding-left: 0px;
        margin-bottom: 26px;
    }

    .about_title {
        padding-left: 0px;
        width: 100%;
    }

    .about_text {
        width: 330px;
        margin-left: 0px;
        padding-top: 76px;
    }

    .prices_title {
        display: block;
        width: 130px;
        padding-left: 28px;
        padding-top: 0px;
        margin-bottom: 40px;
    }

    .prices_left {
        height: 300px;
        justify-content: center;
    }

    .prices_right {
        margin-top: 24px;
        height: 124px;
        align-items: center;
        padding-left: 32px;
    }

    .img_prices_leafs {
        display: none;
    }

    .container_contacts {
        height: 455px;
    }

    .prices_item {
        width: 224px;
        height: 235px;
        padding: 15px;
        align-items: center;
    }

    .prices_dropdown {
        width: 180px;
        height: 50px;
        font-size: 15px;
        line-height: 20px;
        justify-content: space-evenly;
    }

    .dropdown {
        margin-top: -38px;
    }

    .social {
        margin-top: 12px;
    }

    .wrapper_footer {
        justify-content: center;
        padding: 0;
    }

}

#img_burger.active {
    transform: rotate(90deg);
    transition: all 0.4s;
}

.nav.active {
    transform: translateX(0);
}