/* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/inika-v21-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/inika-v21-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-700 - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('./fonts/inika-v21-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/inika-v21-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('./fonts/inter-v12-latin-regular.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/inter-v12-latin-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('./fonts/inter-v12-latin-700.woff2') format('woff2'),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('./fonts/inter-v12-latin-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 1222px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    min-width: 1440px;
    height: 134px;
    background-color: #EDF2EC;
    background-size: 100%;
}

.logo {
    font-family: 'Inika';
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 51px;
}

.header-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.nav {
    font-family: 'Inika';
    font-size: 16px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #010201;
}

.nav-list {
    margin: 0;
    padding-left: 0;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-item {
    padding-right: 45px;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.nav-item:last-child {
    padding-right: 0px;
}

.nav-item:hover {
    color: #E06733;
    font-weight: 700;
}

/* Start Welcome */

#welcome {
    min-width: 1440px;
    height: 532px;
    background-color: #EDF2EC;
    background-size: 100%;
}

.welcome_contaner {
    display: flex;
    justify-content: space-between;
}

.welcome_right {
    width: 549px;
    height: 340px;
    padding-top: 98px;
}

.img-welcome {
    width: 448.8px;
    height: 407.36px;
    margin-top: 62px;
}

.capText {
    max-width: 549px;
    font-family: 'Inter';
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #717171;
    margin-top: 0px;
    margin-bottom: 42px;
}

.colortext {
    color: #499A18;
}

.paragraf {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;
    margin-bottom: 48px;
}

.welcome-button {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    width: 158px;
    height: 44px;
    border-radius: 10px;
    border: 2px solid #E06733;
}

button:hover {
    color: #FFFFFF;
    background: #E06733;
    border: 2px solid #E06733;
}

/* Start about */
#about {
    height: 666px;
    min-width: 1440px;
    left: 0px;
    top: 666px;
    border-radius: 0px;
    background: #FFFFFF;
    background-size: 100%;
}

.about_container {
    display: flex;
    justify-content: space-between;
}

.about_text_left {
    width: 605px;
    height: 350px;
}

.img_house_plant {
    height: 542px;
    width: 464px;
    margin-top: 61px;
}

.about_title {
    font-family: 'Inika';
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    color: #499A18;
    height: 102px;
    width: 463px;
    padding-top: 161px;
    margin: 0;
}

.colortext_about {
    color: #E06733;
}

.about_text {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;
    margin: 0;
    padding-top: 142px;
    width: 605px;

}

.service_title {
    max-width: 306px;
    max-height: 94px;
    color: #499A18;
    font-family: 'Inika';
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.service_content {
    width: 559px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding-top: 29px;
}

.service_container {
    display: flex;
    flex-wrap: wrap;
}

.serviceUp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.service_button {
    list-style: none;
    background-color: transparent;
    height: 50px;
    width: 161px;
    left: 955px;
    top: 69px;

    border-radius: 5px;
    border: 1px solid #E06733;

    font-family: 'Inika';
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #E06733;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-left: 0;
    padding-right: 0;
}

/* Start service */

#service {
    min-width: 1440px;
    height: 1300px;
    background-color: #EDF2EC;
    background-size: 100%;
    padding-top: 40px;
}

.serviceUp {
    width: 1007px;
    height: 94px;
}

.serviceDown {
    height: 955px;
    margin-top: 74px;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.service_item {
    height: 450px;
    width: 330px;
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
}

.img_service {
    height: 350px;
    width: 329px;
    margin-top: 15px;
}

.img_title {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #E06733;
    padding-top: 5px;
}

.img_text {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #717171;
    text-align: center;
    margin-top: 15px;
}

/* Start prices */
#prices {
    min-width: 1440px;
    height: 560px;
    background-color: #FFFFFF;
    background-size: 100%;
    padding-top: 40px;
}

.wrapper_prices {
    max-width: 1222px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prices_left {
    height: 391.01px;
    width: 332px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

}

.prices_title {
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
    margin: 0;
}

.prices_right {
    height: 405px;
    width: 452px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.prices_item {
    width: 332px;
    height: 282.01px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}

.img_prices_leafs {
    width: 152px;
    height: 174.99px;
}

.text_prices {
    margin: 0;
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: right;
}

.colorTextPrices {
    color: #499A18;
}

.contact_us_button {
    background-color: transparent;
    height: 52px;
    width: 162px;
    border-radius: 5px;
    border: 1px solid #E06733;

    font-family: 'Inika';
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: #E06733;
}

.prices_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 34px;

}

.drop_items {
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 32px;
    padding-top: 14px;
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
}

.accordion {
    position: relative;
    width: 16px;
    height: 16px;
    background-color: #D9D9D9;
    border-radius: 8px;
    border: 0.5px solid #D9D9D9;
    margin-bottom: 66px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Start contacts */

#contacts {
    min-width: 1440px;
    height: 550px;
    background: #EDF2EC;
    background-size: 100%;
}

.container_contacts {
    display: flex;
    justify-content: space-between;

}

.img_contacts {
    width: 400px;
    height: 496.99px;
    padding-top: 51px;
    margin-right: 50px;
}

.text_contact {
    width: 195px;
    height: 51px;
    padding-top: 58px;
    margin: 0;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #499A18;
}

.dropbtn {
    height: 50px;
    width: 450px;
    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    display: block;
    padding-left: 20px;
    padding-top: 5px;

}

.dropdown {
    margin-top: 148px;
    position: relative;
    display: inline-block;

}

.dropdown-content {

    width: 450px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #DCE9D9;

}

.dropdown-content a {
    width: 380px;
    color: #499A18;
    background-color: #DCE9D9;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #D9D9D9;
    margin-left: 20px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    color: #717171;
    border-bottom: 1px solid #717171;
}

.dropdown:hover .dropdown-content {
    box-shadow:none;
    display: block;
}

.dropdown:hover .dropbtn {
    background: #C1E698;
    box-shadow:none;

}

.img_arrow_in_city{
    margin-left: 341px;
    background: url(./img/svg/accordion_btn.svg) no-repeat;
    display: inline-block; /*  Рисунок как блочный элемент */
    width: 16px; /* Ширина рисунка */
    height: 16px; /*  Высота рисунка */

}
.img_arrow_in_city:hover{  
    background: url(./img/svg/drop_btn_hover.svg) no-repeat;  
}


/* Start footer */
.footer {
    height: 130px;
    min-width: 1440px;
    left: 0px;
    top: 3740px;
    border-radius: 0px;
    background-color: #FFFFFF;
    background-size: 100%;

}

.wrapper_footer {
    max-width: 1222px;
    margin: 0 auto;
    padding-left: 0;
    padding-top: 38px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;

}

.footer_data {
    margin: 0;
    height: 50px;
    width: 182px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    cursor: pointer;
    color: #000000;
}

.school {
    height: 50px;
    width: 211px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    margin-left: 7px;
    color: #000000;
}

.footer_data:hover,
.school:hover {
    color: #499A18;
}

.social {
    width: 188px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_social {
    width: 32px;
    height: 32px;
}

.footer_item {
    list-style: none;
}