/* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inika-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inika-700 - latin */
  @font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inika-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inika-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

body{
    margin: 0;
}
.header{
width: 1440px;
height: 134px;
background-color: #EDF2EC;
display: flex;
justify-content: space-between;
}
.logo{
    width: fit-content;
    height:fit-content;
    margin-left: 111px;
    margin-top: 52px;
}
.navigation{
    font-family: 'Inika';
    font-size: 16px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;

    background-color: pink;
    width: fit-content;
    height: fit-content;
    margin-right: 109px;
    margin-top: 42px;
}
.nav-list{
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}
.nav-item{
    padding-right: 45px;
    list-style: none;
}
.nav-item:last-child{
    padding-right: 0px;
}